<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <p class="footer-title">Zen Life</p>
        <p class="footer-text">
          Software product focused on bringing you the best quality on speech analysis. 
          This is a prototype to showcase our idea at Intel's 2018 Innovation Challenge.</p>
        <p class="location">Belen, San Jose</p>
        <p class="location">Costa Rica</p>
      </div>
      <div class="column has-text-centered">
        <p class="footer-title"><a>Technologies</a></p>
        <p class="footer-text"><a>Angular 6</a></p>
        <p class="footer-text"><a>Node.js</a></p>
        <p class="footer-text"><a>Material Design</a></p>
        <p class="footer-text"><a>IBM Watson Service</a></p>
      </div>
      <div class="column has-text-centered">
        <p class="footer-title"><a>Innovation Challenge</a></p>
        <div class="columns">
          <div class="column text-right">
            <p><a class="footer-text">Sylvia Ujueta</a></p>
            <p><a class="footer-text">Raul Grimaldi</a></p>
            <p><a class="footer-text">Nestor Rodriguez</a></p>
            <p><a class="footer-text">Gabriel Vargas</a></p>
          </div>
          <div class="column text-left">
            <p><a class="footer-text">Data Researcher</a></p>
            <p><a class="footer-text">Software Architect </a></p>
            <p><a class="footer-text">Product Owner</a></p>
            <p><a class="footer-text">Software Architect </a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>